.alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;  /* Garante que a mensagem apareça sobre outros elementos */
    width: 90%;
    max-width: 500px;
    display: none;  /* Inicialmente escondido */
    transition: opacity 0.5s ease;
}




/* Estilo geral da tabela */
.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho da tabela */
.table th {
    text-align: left;
    padding: 15px;
    background-color: #4e4e4e; /* Cabeçalho com fundo escuro */
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff; /* Texto branco no cabeçalho */
    border-bottom: 2px solid #eaeaea;
    letter-spacing: 0.05em;
}

/* Estilo das células da tabela */
.table td {
    padding: 15px;
    color: #333;
    border-bottom: 1px solid #eaeaea;
    vertical-align: middle;
}

/* Realce ao passar o mouse */
.table tr:hover {
    background-color: #f9f9f9; /* Cor de fundo ao passar o mouse */
    transition: background-color 0.3s ease;
}

/* Botões */
.table .btn {
    font-size: 0.85rem;
    padding: 8px 14px;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.table .btn-warning {
    color: #fff;
    background-color: #007bff; /* Botão azul */
    border: none;
}

.table .btn-warning:hover {
    background-color: #0056b3; /* Tom mais escuro no hover */
    transform: scale(1.05); /* Efeito de zoom */
}

.table .btn-danger {
    color: #fff;
    background-color: #dc3545; /* Botão vermelho */
    border: none;
}

.table .btn-danger:hover {
    background-color: #bd2130; /* Tom mais escuro no hover */
    transform: scale(1.05); /* Efeito de zoom */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .table {
        font-size: 0.9rem; /* Reduz fonte para telas menores */
    }

    .table .btn {
        font-size: 0.8rem; /* Reduz tamanho dos botões */
        padding: 6px 10px;
    }
}



